html, body {
	font-family: 'Roboto', sans-serif !important;
}
#jqt .toolbar {
	background-image: -moz-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0))), -moz-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92a3b9), color-stop(50%, #7f93ad), color-stop(51%, #768ba7), color-stop(100%, #6d83a1));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -moz-linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
	background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
}

#random {
    display: block;
    margin-bottom: 5px;
}

.cover {
	width: 200px;
	height: 200px;
}

.header {
	height: 90px;
	width: 100%;
	background-image: url("../../img/home_top.png");
	background-repeat: no-repeat;
	background-color: #282828;
	background-position: center;
	background-size: contain;
}
.header.send {
	background-image: url("../../img/send_top.png");
}

.homemenu,
.search,
.filter {
	background-color: transparent !important;
	border: 0px !important;
	position: relative;
	top: 30px;
	width: 280px;
	text-align: center;
	margin: 0 auto !important;
	​text-shadow: none !important;
}
.homemenu.login {
	width: 275px;
}
.search {
	top: 10px;
}
.filter {
	top: 5px;
}

.homemenu li {
	width: 100%;
	margin: 0 auto;
	padding: 5px !important;
	margin-bottom: 30px;
	border: 0px !important;
	font-weight: 100;
	font-size: 16pt;
	​text-shadow: none !important;
}

.homemenu.def li {
	position: relative;
}

.homemenu.login li {
	width: 260px;
	background-color: #e67e22;
}

.homemenu.login li a {
	width: auto;
	position: inherit;
	background-color: none;
}

.homemenu li a {
	width: 170px;
	position: relative;
	left: 50px;
	margin: 0 auto;
	background-color: #e67e22;
	color: #fff !important;
	​text-shadow: none !important;
}

.edgetoedge {
	background-color: #282828 !important;
	background-image: none !important;
}

.search,
.filter {
	width: 320px;
	text-align: left;
	​text-shadow: none !important;
}

.filter {
	background-color: #ffd9b0 !important;
}

.filter li {
	text-align: center;
	border-top: 0px !important;
	border-bottom: 4px solid !important;
	border-color: #e67e22 !important;
}

.filter li input {
	color: #e67e22 !important;
	text-align: center;
}

.filter li label {
	color: #e67e22 !important;
	text-align: center;
	font-weight: 100;
}
.filter li input::-webkit-input-placeholder { /* WebKit browsers */
	color: #e67e22 !important;
}
.filter li input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #e67e22 !important;
}
.filter li input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #e67e22 !important;
}
.filter li input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #e67e22 !important;
}

.search li {
	border-top: 0px !important;
	border-bottom: 1px solid !important;
	border-color: rgba(255,255,255,.5) !important;
	font-weight: 100;
	color: #fff !important;
	​text-shadow: none !important;
}

input[type="checkbox"] {
    display:none;
	​text-shadow: none !important;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:10px;
    height:19px;
    margin:-1px 6px 0 0px;
    vertical-align:middle;
    border-right: 3px solid white;
    cursor:pointer;
	​text-shadow: none !important;
}
input[type="checkbox"]:checked + label {
	color: #e67e22;
	​text-shadow: none !important;
}
input[type="checkbox"]:checked + label span {
    border-right: 3px solid #e67e22;
	​text-shadow: none !important;
}
.bottom {
	background-image: url("../../img/home_bottom.png") !important;
	width: 100% !important;
	height: 110px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	bottom: -53px;
}
#home {
	position: relative;
}
.bt {
	display: inline-block;
}
.bc.bt {
	background-image: url("../../img/back.png") !important;
	width: 32px !important;
	height: 32px;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 3;
}
.sd.bt {
	background-image: url("../../img/send.png") !important;
	width: 32px !important;
	height: 32px;
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 3;
}
#mokesent {
	background-color: #282828 !important;
	background-image: none;
}
.search.result {
	width: 290px;
}
.search.result li {
	border-top: 0px !important;
	border-bottom: 0px !important;
}
.sound.left {
	background-image: url("../../img/sound.png") !important;
	width: 30px !important;
	height: 35px;
	position: absolute;
	top: 1px;
	left: 4px;
	z-index: 3;
}
.sound.right {
	background-image: url("../../img/sound.png") !important;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-moz-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	width: 30px !important;
	height: 35px;
	position: absolute;
	top: 2px;
	right: 15px;
	z-index: 3;
}

.homemenu li:hover .sound {
	background-image: url("../../img/sound_colored.png") !important;
}

.submenu,
.my_pokes {
	width: 318px;
	margin: 0 auto !important;
}

.my_pokes {
	background-color: transparent !important;
	border: 0px !important;
	margin-top: 10px !important;
}

.submenu li,
.my_pokes li {
	display: inline;
}

.submenu li:first-child {
	margin-left: 10px;
}

.submenu li label {
	line-height: 30px;
	font-weight: 100;
	position: relative;
	top: 2px;
}

.submenu li.act label,
.submenu li:hover label {
	border-bottom: 4px solid gray;
	cursor: pointer;
}

.my_pokes li {
	display: block;
	border-top: 0px !important;
	border-bottom: 1px solid !important;
	border-color: rgba(255,255,255,.5) !important;
	font-weight: 100;
	color: #fff !important;
	​text-shadow: none !important;
}

.my_pokes li label {
	​text-shadow: none !important;
}
.my_pokes li label span {
    display:inline-block;
    width:10px;
    height:19px;
    margin:-1px 6px 0 0px;
    vertical-align:middle;
    border-right: 3px solid #e67e22;
    cursor:pointer;
	​text-shadow: none !important;
}
.music,
.artist {
	display: block;
	margin-top: 10px;
	margin-left: 18px;
	font-size: 15px;
}

.orange {
	color: #ffd9b0;
}
div.calendar,
.headphone {
	width: 32px;
	height: 32px;
	background-image: url("../../img/calendar.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.headphone {
	background-image: url("../../img/headphone.png");
	position: absolute;
	top: 51px;
	right: 10px;
}
div.calendar {
	position: absolute;
	top: 4px;
	right: 62px;
}
label.calendar {
	font-size: 15px;
	position: absolute;
	top: 12px;
	right: 31px;
}